{% extends 'base.html' %}
{% block content %}
	 <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to shopify</p>
                </div>
            </div>
        </header>
    <div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deserunt dolorem fugit impedit inventore ipsam mollitia ratione repellendus. Cumque, cupiditate dicta facilis inventore labore laudantium molestiae quasi reprehenderit tempora vitae.
            </div>
        </center>
    </div>
    </div>
{% endblock %}